# Node modules
node_modules/

# Build output
build/
dist/

# Temporary files
*.cache
*.tmp
*.log

# Testing files
coverage/

# Environment variables
.env
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Dependency directories
yarn.lock
package-lock.json

# Static files (customize if needed)
*.pem
*.key
*.crt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.bak
*.orig
